@model CAC_Management.Models.Guardian
@{ ViewData["Title"] = "Index";
                Layout = "_LayoutForGuardian"; }
<body style="        background-color: #e9a8a8;
        align-content: center;">
    <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO Guardian PAGE</h1>
    <br />
    <br />
    <h2>@ViewBag.t_id</h2>
    <p>
        <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
            You Can See The Guardian Panel If You have Any Account Otherwise You Have To Contact With The Administration.<br>
            Thank You.
        </h2>
    </p>
</body>
